<!doctype html>
<html lang="en">
  <head>
  	<title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../../static/login/css/style.css">

	<link rel="shortcut icon" href="../../static/images/favicon.ico" type="image/x-icon">

	<!-- THEME CSS
	================================================== -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../../static/plugins/bootstrap/css/bootstrap.min.css">
	<!-- Themify -->
	<link rel="stylesheet" href="../../static/plugins/themify/css/themify-icons.css">
	<link rel="stylesheet" href="../../static/plugins/slick-carousel/slick-theme.css">
	<link rel="stylesheet" href="../../static/plugins/slick-carousel/slick.css">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="../../static/plugins/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="../../static/plugins/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="../../static/plugins/magnific-popup/magnific-popup.css">
	<!-- manin stylesheet -->
	<link rel="stylesheet" href="../../static/css/style.css">


	</head>





	<header class="header-top bg-grey justify-content-center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
					<a class="navbar-brand " href="/">
						Maktab89
					</a>
				</div>

				<div class="col-lg-8 col-md-12">
					<nav class="navbar navbar-expand-lg navigation-2 navigation">
						<a class="navbar-brand text-uppercase d-lg-none" href="#">
							<img src="../../static/images/logo.png" alt="" class="img-fluid">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
							aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="ti-menu"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbar-collapse">
							<ul id="menu" class="menu navbar-nav mx-auto">
                                <li class="nav-item">
									<a class="nav-link" href="/">Home</a>
								  </li>
								<li class="nav-item">
									<a class="nav-link" href="/about-us">About</a>
								  </li>
								  <li class="nav-item">
									<a class="nav-link" href="/contact-us">Contact</a>
								  </li>
								  <li class="nav-item">
									<a class="nav-link" href="/allposts/">All posts</a>
								  </li>
								  {%if usertype == "not_logged_in"%}
								  <li class="nav-item">
									<a class="nav-link" href="/login">Register/Login</a>
								  </li>
								  {%endif%}
								  {%if usertype == "admin" or usertype == "superuser"%}
								  <li class="nav-item">
									<a class="nav-link" href="{{usertype}}/dashboard">Dashboard</a>
								  </li>
								  {%endif%}
								  {%if usertype != "not_logged_in"%}
								  <li class="nav-item">
									<a class="nav-link" href="/logout">Logout</a>
								  </li>
								  {%endif%}
								

								</ul>
						</div>
					</nav>
				</div>

				<div class="col-lg-2 col-md-4 col-6">
					<div class="header-socials-2 text-right d-none d-lg-block">
						<ul class="list-inline mb-0">
							<li class="list-inline-item"><a href="https://facebook.com"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="https://twitter.com"><i class="ti-twitter"></i></a></li>
							<li class="list-inline-item"><a href="https://linkedin.com"><i class="ti-linkedin"></i></a></li>
							<li class="list-inline-item"><a href="https://pinterest.com"><i class="ti-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

	<body class="img js-fullheight" style="height: 100%; background-size:cover; background-image: url(../../static/login/images/bg.jpg);">
	<section class="ftco-section" style="padding-bottom: 0">
		<div class="container">
			<div class="row justify-content-center">
{#				<div class="col-md-6 text-center mb-5">#}
{#					<h2 class="heading-section">Welcome</h2>#}
{#				</div>#}
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<form  class="signin-form" action="/register" method="POST" onsubmit="register(event, this)">
		      		<div class="form-group">
		      			<input style=" background: transparent;" id="fullname"name="username" type="text" class="form-control" placeholder="Full name" required>
		      		</div>
                      <div class="form-group">
                        <input style=" background: transparent;" id="username"name="username" type="text" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input style=" background: transparent;"  id="email"name="username" type="text" class="form-control" placeholder="Email" required>
                    </div>
	            <div class="form-group">
	              <input style=" background: transparent;" id="password-field" name="password" type="password" class="form-control" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
                <div class="form-group">
                    <input style=" background: transparent;" id="password_confirmation" name="password" type="password" class="form-control" placeholder="Repeat Password" required>
                    <span toggle="#password-_confirmation" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
	            </div>
	            <div class="form-group d-md-flex">
                    <a href="/login" style="color: #fff">Already a user??</a>
	            </div>
	            </form>
	         
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="../../static/login/js/jquery.min.js"></script>
  <script src="../../static/login/js/popper.js"></script>
  <script src="../../static/login/js/bootstrap.min.js"></script>
  <script src="../../static/login/js/main.js"></script>
  <script>

    async function register(event, el) {
        event.preventDefault()

        const response = await fetch(el.action, {
            method: el.method,
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                fullname: el.querySelector("#fullname").value,
                username: el.querySelector("#username").value,
                email: el.querySelector("#email").value,
                password: el.querySelector("#password-field").value,
                password_confirmation: el.querySelector("#password_confirmation").value,
            })
      })

      if (response.status === 200){
        alert("You Signed up successfully. Now you can login to weblog.")
          window.location.replace("/login")
      } else {
        alert("Invalid info. Please enter the requested items accurately")
      }
    }
  </script>
	</body>
</html>

